{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<div class='ctr'>
<h1 style='margin:2rem;'>Welcome to polls app !!</h1>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <div class='questionCtr'>
            <h2>{{ question.Question_text }}</h2><br/>
            <a href="{% url 'polls:detail' question.id %}"><button class="button">VOTE</button></a>
            <a href="{% url 'polls:results' question.id %}"><button class="button">RESULTS</button></a>
        </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<div>